<script>
  import "../layout.css";
</script>

<div id="page">
  <nav>
    <a href="/">Top</a>
    <a href="/dev/tty">About</a>
    <span>|</span>
    <a href="/usr/share/man">Man</a>
    <span>|</span>
    <a href="/usr/src/linux">Linux</a>
    <a href="/opt/android-studio">Android</a>
    <a href="/mnt/hfsplus-disk/Users/Darwin/Applications">&#123;mac,i&#125;OS</a>
    <a href="/opt/game">Game</a>
  </nav>
  <main>
    <slot></slot>
  </main>
  <footer>
    <p class="copyright">&copy; 2011-2023 Yasha</p>
    <ul>
      <li class="code-of-ethics"><a href="/code-of-ethics.html">Code of Ethics</a></li>
      <li class="server-status">Server Status</li>
      <li class="code"><a href="https://git.sr.ht/~grauwoelfchen/hackforge">Source</a></li>
    </ul>
  </footer>
</div>
