<script>
  import "../page.css";
</script>

<span class="path">/</span>
<p>This is Yasha's <span style="color:gray;font-weight:bold;">Hackforge</span> that contains various links and docs.<br/>
Hosted on my home server.</p>
