<script>
  import "../../../../page.css";
</script>

<span class="path">/usr/src/linux</span>
<h1>Linux GUI apps</h1>
<div>
  <p>The list of Linux GUI applications I'm working on.</p>
  <ul>
    <li><a href="https://github.com/grauwoelfchen/nowt">Whimsy</a> ... A task management GTK application that inserts a new item at the bottom and supports randomly picking up the next to-do for you</li>
  </ul>
</div>
