<script>
  import "../../../../../../page.css";
</script>

<span class="path">/mnt/hfsplus-disk/Users/Darwin/Applications</span>
<h1>macOS/iOS apps</h1>
<div>
  <p>The list of macOS/iOS I worked / am working on</p>
  <ul>
    <li><a href="https://apps.apple.com/us/app/generika/id520038123?ls=1">Generika</a> ... Barcode Leser für das iPhone mit Generika.cc</li>
  </ul>
</div>
