<script>
  import "../../../page.css";
</script>

<span class="path">/dev/tty</span>
<h1>About</h1>
<div>
  <p>Hoi Zäme! I'm Yasha. A programmer who mainly works as a Software/DevOps/Platform engineer or SRE somewhere for a web service.<br/>My developer account is <code>grauwoelfchen</code> (<a href="https://grauwoelfchen.net/about.html">grauwoelfchen.net/about</a>).</p>
  <p>I develop softare products by day, hacks something exciting hardwares by night. I recently also started enjoying gamedev and GUI apps development as a hobby for fun.</p>
  <p>This is just a place to provide some indices to pages related to my activities.</p>
  <pre>ahoy@yasha.app</pre>
</div>
