nav a, nav span {
  margin: 0.02rem 0 0 -0.28rem;
  padding: 0.11rem 0.32rem;
  text-decoration: none;
}

nav a:hover {
  background-color: lightgray;
  border-radius: 0.13rem;
  color: black;
}

.code-of-ethics,
.server-status {
  font-size: 90%;
}

h1 {
  margin: 0;
  padding-top: 0.09rem;
}

footer {
  border-top: 1px solid lightgray;
  margin-top: 3.36rem;
}

footer ul {
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline;
  list-style: none;
  margin: 0 0.42rem 0 0;
}
