<script>
  import "../../../../page.css";
</script>

<span class="path">/usr/share/man</span>
<h1>Man</h1>
<div>
  <p>Index of doc websites relate to my projects or libraries etc.</p>
  <ul>
    <li>
      <span>Adequate</span>
      ... A yet another validation library
      /
      <a href="https://gitlab.com/grauwoelfchen/adequate">repo</a>
      <a href="https://adequate.yasha.rs">doc</a>
    </li>
    <li>
      <span>Heks</span>
      ... A lib/tool exchanges hexadecimal colour input
      /
      <a href="https://gitlab.com/grauwoelfchen/heks">repo</a>
      <a href="https://heks.yasha.rs/">doc</a>
    </li>
    <li>
      <span>Hype</span>
      ... An application interacts with Discord via APIs
      /
      <a href="https://gitlab.com/grauwoelfchen/hype">repo</a>
      <a href="https://hype.yasha.rs/">doc</a>
    </li>
    <li>
      <span>Nib</span>
      ... A yet another static blog generator
      /
      <a href="https://gitlab.com/grauwoelfchen/nib">repo</a>
      <!-- <a href="https://nib.yasha.rs/">doc</a> -->
    </li>
    <li>
      <span>Lithe</span>
      ... A slim template engine by using Pest
      /
      <a href="https://gitlab.com/grauwoelfchen/lithe">repo</a>
      <a href="https://lithe.yasha.rs">doc</a>
    </li>
    <li>
      <span>Styr</span>
      ... A small stylish CSS library
      /
      <a href="https://gitlab.com/grauwoelfchen/styr">repo</a>
      <a href="https://styr.yasha.rs">doc</a>
    </li>
    <li>
      <span>20min</span>
      ... A command-line working timer
      /
      <a href="https://gitlab.com/grauwoelfchen/20min">repo</a>
      <a href="https://20min.yasha.rs">doc</a>
    </li>
  </ul>
</div>
